.resumo-financeiro {


    width:100%;


}







.tabela-resumo {


    width:100%;


    border-collapse:collapse;


}








.tabela-resumo th {


    background:#111827;


    color:white;


    padding:14px;


    text-align:left;


}








.tabela-resumo td {


    padding:14px;


    border-bottom:1px solid #e5e7eb;


}








.tabela-resumo tbody tr:hover {


    background:#f9fafb;


}








.receita {


    color:#16a34a;


    font-weight:700;


}








.despesa {


    color:#dc2626;


    font-weight:700;


}








.saldo-positivo {


    color:#2563eb;


    font-weight:700;


}








.saldo-negativo {


    color:#dc2626;


    font-weight:700;


}









.total-geral {


    margin-top:35px;


    padding-top:25px;


    border-top:1px solid #e5e7eb;


    width:420px;


}








.total-geral h3 {


    margin:0 0 20px 0;


    font-size:22px;


    color:#111827;


}








.linha-total {


    display:flex;


    justify-content:space-between;


    align-items:center;


    margin-bottom:14px;


    font-size:16px;


}








.linha-total strong {


    font-size:16px;


}